/* Layout elements stylesheet */

/*  */
body {
overflow : hidden;
}
.navbar-offset {
margin-top : 50px;
}
#map {
position : absolute;
top : 50px;
bottom : 0;
left : 0;
right : 0;
}
#map .ol-zoom {
font-size : 1.2em;
}
.zoom-top-opened-sidebar {
margin-top : 5px;
}
.zoom-top-collapsed {
margin-top : 45px;
}
.mini-submenu {
display : none;
background-color : rgb(255, 255, 255, 0.46);
border : rgb(0, 0, 0, 0.9) solid 1px;
border-radius : 4px;
padding : 9px;
width : 42px;
text-align : center;
}
.mini-submenu-left {
position : absolute;
top : 60px;
left : 0.5em;
z-index : 40;
}
.mini-submenu-right {
position : absolute;
top : 60px;
right : 0.5em;
z-index : 40;
}
#map {
z-index : 35;
}
.sidebar {
z-index : 45;
}
.main-row {
position : relative;
top : 0;
}
.mini-submenu:hover {
cursor : pointer;
}
.slide-submenu {
background : rgb(0, 0, 0, 0.45);
display : inline-block;
padding : 0 8px;
border-radius : 4px;
cursor : pointer;
}
.panel-right {
    width: 500px;
    margin-left: -200px;
}