/* Custom Style for microdata viewer */
html, body, #micromap{
    width: 500px;
    height: 250px;
    
}
/* fix width when large than 300 px */
@media (max-width: 500px) {
    html, body, #micromap {
        width: auto;
    }
}

#legendbar{
    display: flex; 
    justify-content: center;
}

/* legend icons */
#ShowAll, #Amph_legend, #Ep_legend, #Ap_legend, #Kfs_legend, #HideAll, #Ol_legend, #Pl_legend, #Px_legend, #Qtz_legend   {
    width: 80px; 
    filter: grayscale(0);
}